body{
margin: 0;
height: 100vh;
display: flex;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
max-width: 1200px;
}

.title{
	color: rgb(253, 253, 253);
	font-size: 4rem;
	z-index: 1;
	position: absolute;
	font-weight: bolder;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	left: 18rem;
}


p{	display: inline-block;
	position: absolute;
	top: 8rem;
	color: rgb(238, 239, 238);
	font-size: 3rem;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	left: 3rem;
}



@media (max-width: 600px) {
	.title{
		font-size: 2rem;
}
}

@media (max-width: 600px) {
	p{	
		font-size: 2rem;
		position: absolute;
		text-align: center;
	}
}

@media (max-width: 600px) {
	body{	
		max-width: fit-content;
		position: absolute;
		text-align: center;
	}
}