body{
width: 90%;
margin: 0;
height: 100vh;
display: flex;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
	color: rgb(253, 253, 253);
	font-size: 4rem;
	z-index: 1;
	position: absolute;
	font-weight: bolder;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	left: 18rem;
}



p{	display: inline-block;
	position: absolute;
	top: 11rem;
	color: rgb(238, 239, 238);
	font-size: 2rem;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	left: 20rem;
}

@media screen and (max-width: 800px) {
	.title{
		font-size: 4rem;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 400px) {
	.title{
		font-size: 1rem;
	}
}


@media screen and (max-width: 600px) {
	p{
		font-size: 1.5rem;
		position: absolute;
		left: 18rem;
		top: 18rem;
	}
}


@media screen and (max-width: 600px) {
	body{
	width: 100%;
	height: 100vh;	
}
}


